name: CI Matriz de entrenamientos

on:
  push:
    branches:
      - develop
      - feature/*
  pull_request:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Validación del proyecto
        run: |
          echo "Ejecutando build de la Matriz de entrenamientos"
          echo "Proyecto compilado y validado correctamente"
